@font-face {
    font-family: 'FenomenSans-SCNBook';
    src: url('FenomenSans-SCNBook.eot');
    src: local('☞Fenomen Sans SCN Book'), local('FenomenSans-SCNBook'),
        url('FenomenSans-SCNBook.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNBook.woff2') format('woff2'),
        url('FenomenSans-SCNBook.woff') format('woff'),
        url('FenomenSans-SCNBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-BlackItalic.eot');
    src: local('☞Fenomen Sans Black Italic'), local('FenomenSans-BlackItalic'),
        url('FenomenSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-BlackItalic.woff2') format('woff2'),
        url('FenomenSans-BlackItalic.woff') format('woff'),
        url('FenomenSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNLightItalic';
    src: url('FenomenSans-CNLightItalic.eot');
    src: local('☞Fenomen Sans CN Light Italic'), local('FenomenSans-CNLightItalic'),
        url('FenomenSans-CNLightItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNLightItalic.woff2') format('woff2'),
        url('FenomenSans-CNLightItalic.woff') format('woff'),
        url('FenomenSans-CNLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNBlack';
    src: url('FenomenSans-CNBlack.eot');
    src: local('☞Fenomen Sans CN Black'), local('FenomenSans-CNBlack'),
        url('FenomenSans-CNBlack.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNBlack.woff2') format('woff2'),
        url('FenomenSans-CNBlack.woff') format('woff'),
        url('FenomenSans-CNBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNThin';
    src: url('FenomenSans-SCNThin.eot');
    src: local('☞Fenomen Sans SCN Thin'), local('FenomenSans-SCNThin'),
        url('FenomenSans-SCNThin.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNThin.woff2') format('woff2'),
        url('FenomenSans-SCNThin.woff') format('woff'),
        url('FenomenSans-SCNThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-Thin.eot');
    src: local('☞Fenomen Sans Thin'), local('FenomenSans-Thin'),
        url('FenomenSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Thin.woff2') format('woff2'),
        url('FenomenSans-Thin.woff') format('woff'),
        url('FenomenSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-Regular.eot');
    src: local('☞Fenomen Sans'), local('FenomenSans-Regular'),
        url('FenomenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Regular.woff2') format('woff2'),
        url('FenomenSans-Regular.woff') format('woff'),
        url('FenomenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNBold';
    src: url('FenomenSans-SCNBold.eot');
    src: local('☞Fenomen Sans SCN Bold'), local('FenomenSans-SCNBold'),
        url('FenomenSans-SCNBold.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNBold.woff2') format('woff2'),
        url('FenomenSans-SCNBold.woff') format('woff'),
        url('FenomenSans-SCNBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNHairline';
    src: url('FenomenSans-SCNHairline.eot');
    src: local('☞Fenomen Sans SCN Hairline'), local('FenomenSans-SCNHairline'),
        url('FenomenSans-SCNHairline.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNHairline.woff2') format('woff2'),
        url('FenomenSans-SCNHairline.woff') format('woff'),
        url('FenomenSans-SCNHairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-CNThinItalic';
    src: url('FenomenSans-CNThinItalic.eot');
    src: local('☞Fenomen Sans CN Thin Italic'), local('FenomenSans-CNThinItalic'),
        url('FenomenSans-CNThinItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNThinItalic.woff2') format('woff2'),
        url('FenomenSans-CNThinItalic.woff') format('woff'),
        url('FenomenSans-CNThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-Light.eot');
    src: local('☞Fenomen Sans Light'), local('FenomenSans-Light'),
        url('FenomenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Light.woff2') format('woff2'),
        url('FenomenSans-Light.woff') format('woff'),
        url('FenomenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-Hairline';
    src: url('FenomenSans-Hairline.eot');
    src: local('☞Fenomen Sans Hairline'), local('FenomenSans-Hairline'),
        url('FenomenSans-Hairline.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Hairline.woff2') format('woff2'),
        url('FenomenSans-Hairline.woff') format('woff'),
        url('FenomenSans-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNBlack';
    src: url('FenomenSans-SCNBlack.eot');
    src: local('☞Fenomen Sans SCN Black'), local('FenomenSans-SCNBlack'),
        url('FenomenSans-SCNBlack.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNBlack.woff2') format('woff2'),
        url('FenomenSans-SCNBlack.woff') format('woff'),
        url('FenomenSans-SCNBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNBlackItalic';
    src: url('FenomenSans-SCNBlackItalic.eot');
    src: local('☞Fenomen Sans SCN Black Italic'), local('FenomenSans-SCNBlackItalic'),
        url('FenomenSans-SCNBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNBlackItalic.woff2') format('woff2'),
        url('FenomenSans-SCNBlackItalic.woff') format('woff'),
        url('FenomenSans-SCNBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-BoldItalic.eot');
    src: local('☞Fenomen Sans Bold Italic'), local('FenomenSans-BoldItalic'),
        url('FenomenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-BoldItalic.woff2') format('woff2'),
        url('FenomenSans-BoldItalic.woff') format('woff'),
        url('FenomenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-Book';
    src: url('FenomenSans-Book.eot');
    src: local('☞Fenomen Sans Book'), local('FenomenSans-Book'),
        url('FenomenSans-Book.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Book.woff2') format('woff2'),
        url('FenomenSans-Book.woff') format('woff'),
        url('FenomenSans-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNSemiBold';
    src: url('FenomenSans-SCNSemiBold.eot');
    src: local('☞Fenomen Sans SCN SemiBold'), local('FenomenSans-SCNSemiBold'),
        url('FenomenSans-SCNSemiBold.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNSemiBold.woff2') format('woff2'),
        url('FenomenSans-SCNSemiBold.woff') format('woff'),
        url('FenomenSans-SCNSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-XCNRegular';
    src: url('FenomenSans-XCNRegular.eot');
    src: local('☞Fenomen Sans XCN Regular'), local('FenomenSans-XCNRegular'),
        url('FenomenSans-XCNRegular.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNRegular.woff2') format('woff2'),
        url('FenomenSans-XCNRegular.woff') format('woff'),
        url('FenomenSans-XCNRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-CNSemiBold';
    src: url('FenomenSans-CNSemiBold.eot');
    src: local('☞Fenomen Sans CN SemiBold'), local('FenomenSans-CNSemiBold'),
        url('FenomenSans-CNSemiBold.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNSemiBold.woff2') format('woff2'),
        url('FenomenSans-CNSemiBold.woff') format('woff'),
        url('FenomenSans-CNSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-XCNBold';
    src: url('FenomenSans-XCNBold.eot');
    src: local('☞Fenomen Sans XCN Bold'), local('FenomenSans-XCNBold'),
        url('FenomenSans-XCNBold.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNBold.woff2') format('woff2'),
        url('FenomenSans-XCNBold.woff') format('woff'),
        url('FenomenSans-XCNBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-Italic.eot');
    src: local('☞Fenomen Sans Italic'), local('FenomenSans-Italic'),
        url('FenomenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Italic.woff2') format('woff2'),
        url('FenomenSans-Italic.woff') format('woff'),
        url('FenomenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-Bold.eot');
    src: local('☞Fenomen Sans Bold'), local('FenomenSans-Bold'),
        url('FenomenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Bold.woff2') format('woff2'),
        url('FenomenSans-Bold.woff') format('woff'),
        url('FenomenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNThinItalic';
    src: url('FenomenSans-SCNThinItalic.eot');
    src: local('☞Fenomen Sans SCN Thin Italic'), local('FenomenSans-SCNThinItalic'),
        url('FenomenSans-SCNThinItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNThinItalic.woff2') format('woff2'),
        url('FenomenSans-SCNThinItalic.woff') format('woff'),
        url('FenomenSans-SCNThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-SCNSemiBoldItalic';
    src: url('FenomenSans-SCNSemiBoldItalic.eot');
    src: local('☞Fenomen Sans SCN SemiBold Italic'), local('FenomenSans-SCNSemiBoldItalic'),
        url('FenomenSans-SCNSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNSemiBoldItalic.woff2') format('woff2'),
        url('FenomenSans-SCNSemiBoldItalic.woff') format('woff'),
        url('FenomenSans-SCNSemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNThin';
    src: url('FenomenSans-CNThin.eot');
    src: local('☞Fenomen Sans CN Thin'), local('FenomenSans-CNThin'),
        url('FenomenSans-CNThin.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNThin.woff2') format('woff2'),
        url('FenomenSans-CNThin.woff') format('woff'),
        url('FenomenSans-CNThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-Black.eot');
    src: local('☞Fenomen Sans Black'), local('FenomenSans-Black'),
        url('FenomenSans-Black.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-Black.woff2') format('woff2'),
        url('FenomenSans-Black.woff') format('woff'),
        url('FenomenSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-CNSemiBoldItalic';
    src: url('FenomenSans-CNSemiBoldItalic.eot');
    src: local('☞Fenomen Sans CN SemiBold Italic'), local('FenomenSans-CNSemiBoldItalic'),
        url('FenomenSans-CNSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNSemiBoldItalic.woff2') format('woff2'),
        url('FenomenSans-CNSemiBoldItalic.woff') format('woff'),
        url('FenomenSans-CNSemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNHairlineItalic';
    src: url('FenomenSans-CNHairlineItalic.eot');
    src: local('☞Fenomen Sans CN Hairline Italic'), local('FenomenSans-CNHairlineItalic'),
        url('FenomenSans-CNHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNHairlineItalic.woff2') format('woff2'),
        url('FenomenSans-CNHairlineItalic.woff') format('woff'),
        url('FenomenSans-CNHairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNHairline';
    src: url('FenomenSans-CNHairline.eot');
    src: local('☞Fenomen Sans CN Hairline'), local('FenomenSans-CNHairline'),
        url('FenomenSans-CNHairline.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNHairline.woff2') format('woff2'),
        url('FenomenSans-CNHairline.woff') format('woff'),
        url('FenomenSans-CNHairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-CNBold';
    src: url('FenomenSans-CNBold.eot');
    src: local('☞Fenomen Sans CN Bold'), local('FenomenSans-CNBold'),
        url('FenomenSans-CNBold.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNBold.woff2') format('woff2'),
        url('FenomenSans-CNBold.woff') format('woff'),
        url('FenomenSans-CNBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-CNRegular';
    src: url('FenomenSans-CNRegular.eot');
    src: local('☞Fenomen Sans CN Regular'), local('FenomenSans-CNRegular'),
        url('FenomenSans-CNRegular.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNRegular.woff2') format('woff2'),
        url('FenomenSans-CNRegular.woff') format('woff'),
        url('FenomenSans-CNRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-CNBookItalic';
    src: url('FenomenSans-CNBookItalic.eot');
    src: local('☞Fenomen Sans CN Book Italic'), local('FenomenSans-CNBookItalic'),
        url('FenomenSans-CNBookItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNBookItalic.woff2') format('woff2'),
        url('FenomenSans-CNBookItalic.woff') format('woff'),
        url('FenomenSans-CNBookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-SCNBookItalic';
    src: url('FenomenSans-SCNBookItalic.eot');
    src: local('☞Fenomen Sans SCN Book Italic'), local('FenomenSans-SCNBookItalic'),
        url('FenomenSans-SCNBookItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNBookItalic.woff2') format('woff2'),
        url('FenomenSans-SCNBookItalic.woff') format('woff'),
        url('FenomenSans-SCNBookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-BookItalic';
    src: url('FenomenSans-BookItalic.eot');
    src: local('☞Fenomen Sans Book Italic'), local('FenomenSans-BookItalic'),
        url('FenomenSans-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-BookItalic.woff2') format('woff2'),
        url('FenomenSans-BookItalic.woff') format('woff'),
        url('FenomenSans-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-SCNRegular';
    src: url('FenomenSans-SCNRegular.eot');
    src: local('☞Fenomen Sans SCN Regular'), local('FenomenSans-SCNRegular'),
        url('FenomenSans-SCNRegular.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNRegular.woff2') format('woff2'),
        url('FenomenSans-SCNRegular.woff') format('woff'),
        url('FenomenSans-SCNRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-CNItalic';
    src: url('FenomenSans-CNItalic.eot');
    src: local('☞Fenomen Sans CN Italic'), local('FenomenSans-CNItalic'),
        url('FenomenSans-CNItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNItalic.woff2') format('woff2'),
        url('FenomenSans-CNItalic.woff') format('woff'),
        url('FenomenSans-CNItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-XCNBookItalic';
    src: url('FenomenSans-XCNBookItalic.eot');
    src: local('☞Fenomen Sans XCN Book Italic'), local('FenomenSans-XCNBookItalic'),
        url('FenomenSans-XCNBookItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNBookItalic.woff2') format('woff2'),
        url('FenomenSans-XCNBookItalic.woff') format('woff'),
        url('FenomenSans-XCNBookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-XCNBook';
    src: url('FenomenSans-XCNBook.eot');
    src: local('☞Fenomen Sans XCN Book'), local('FenomenSans-XCNBook'),
        url('FenomenSans-XCNBook.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNBook.woff2') format('woff2'),
        url('FenomenSans-XCNBook.woff') format('woff'),
        url('FenomenSans-XCNBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-HairlineItalic';
    src: url('FenomenSans-HairlineItalic.eot');
    src: local('☞Fenomen Sans Hairline Italic'), local('FenomenSans-HairlineItalic'),
        url('FenomenSans-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-HairlineItalic.woff2') format('woff2'),
        url('FenomenSans-HairlineItalic.woff') format('woff'),
        url('FenomenSans-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-XCNHairline';
    src: url('FenomenSans-XCNHairline.eot');
    src: local('☞Fenomen Sans XCN Hairline'), local('FenomenSans-XCNHairline'),
        url('FenomenSans-XCNHairline.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNHairline.woff2') format('woff2'),
        url('FenomenSans-XCNHairline.woff') format('woff'),
        url('FenomenSans-XCNHairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-SCNBoldItalic';
    src: url('FenomenSans-SCNBoldItalic.eot');
    src: local('☞Fenomen Sans SCN Bold Italic'), local('FenomenSans-SCNBoldItalic'),
        url('FenomenSans-SCNBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNBoldItalic.woff2') format('woff2'),
        url('FenomenSans-SCNBoldItalic.woff') format('woff'),
        url('FenomenSans-SCNBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-XCNBoldItalic';
    src: url('FenomenSans-XCNBoldItalic.eot');
    src: local('☞Fenomen Sans XCN Bold Italic'), local('FenomenSans-XCNBoldItalic'),
        url('FenomenSans-XCNBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNBoldItalic.woff2') format('woff2'),
        url('FenomenSans-XCNBoldItalic.woff') format('woff'),
        url('FenomenSans-XCNBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNBook';
    src: url('FenomenSans-CNBook.eot');
    src: local('☞Fenomen Sans CN Book'), local('FenomenSans-CNBook'),
        url('FenomenSans-CNBook.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNBook.woff2') format('woff2'),
        url('FenomenSans-CNBook.woff') format('woff'),
        url('FenomenSans-CNBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-XCNItalic';
    src: url('FenomenSans-XCNItalic.eot');
    src: local('☞Fenomen Sans XCN Italic'), local('FenomenSans-XCNItalic'),
        url('FenomenSans-XCNItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNItalic.woff2') format('woff2'),
        url('FenomenSans-XCNItalic.woff') format('woff'),
        url('FenomenSans-XCNItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNBoldItalic';
    src: url('FenomenSans-CNBoldItalic.eot');
    src: local('☞Fenomen Sans CN Bold Italic'), local('FenomenSans-CNBoldItalic'),
        url('FenomenSans-CNBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNBoldItalic.woff2') format('woff2'),
        url('FenomenSans-CNBoldItalic.woff') format('woff'),
        url('FenomenSans-CNBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-SCNItalic';
    src: url('FenomenSans-SCNItalic.eot');
    src: local('☞Fenomen Sans SCN Italic'), local('FenomenSans-SCNItalic'),
        url('FenomenSans-SCNItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNItalic.woff2') format('woff2'),
        url('FenomenSans-SCNItalic.woff') format('woff'),
        url('FenomenSans-SCNItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-XCNBlack';
    src: url('FenomenSans-XCNBlack.eot');
    src: local('☞Fenomen Sans XCN Black'), local('FenomenSans-XCNBlack'),
        url('FenomenSans-XCNBlack.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNBlack.woff2') format('woff2'),
        url('FenomenSans-XCNBlack.woff') format('woff'),
        url('FenomenSans-XCNBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-SemiBoldItalic.eot');
    src: local('☞Fenomen Sans SemiBold Italic'), local('FenomenSans-SemiBoldItalic'),
        url('FenomenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SemiBoldItalic.woff2') format('woff2'),
        url('FenomenSans-SemiBoldItalic.woff') format('woff'),
        url('FenomenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-SCNHairlineItalic';
    src: url('FenomenSans-SCNHairlineItalic.eot');
    src: local('☞Fenomen Sans SCN Hairline Italic'), local('FenomenSans-SCNHairlineItalic'),
        url('FenomenSans-SCNHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNHairlineItalic.woff2') format('woff2'),
        url('FenomenSans-SCNHairlineItalic.woff') format('woff'),
        url('FenomenSans-SCNHairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNBlackItalic';
    src: url('FenomenSans-CNBlackItalic.eot');
    src: local('☞Fenomen Sans CN Black Italic'), local('FenomenSans-CNBlackItalic'),
        url('FenomenSans-CNBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNBlackItalic.woff2') format('woff2'),
        url('FenomenSans-CNBlackItalic.woff') format('woff'),
        url('FenomenSans-CNBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-SCNLightItalic';
    src: url('FenomenSans-SCNLightItalic.eot');
    src: local('☞Fenomen Sans SCN Light Italic'), local('FenomenSans-SCNLightItalic'),
        url('FenomenSans-SCNLightItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNLightItalic.woff2') format('woff2'),
        url('FenomenSans-SCNLightItalic.woff') format('woff'),
        url('FenomenSans-SCNLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-XCNLightItalic';
    src: url('FenomenSans-XCNLightItalic.eot');
    src: local('☞Fenomen Sans XCN Light Italic'), local('FenomenSans-XCNLightItalic'),
        url('FenomenSans-XCNLightItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNLightItalic.woff2') format('woff2'),
        url('FenomenSans-XCNLightItalic.woff') format('woff'),
        url('FenomenSans-XCNLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-SemiBold.eot');
    src: local('☞Fenomen Sans SemiBold'), local('FenomenSans-SemiBold'),
        url('FenomenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SemiBold.woff2') format('woff2'),
        url('FenomenSans-SemiBold.woff') format('woff'),
        url('FenomenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans-XCNHairlineItalic';
    src: url('FenomenSans-XCNHairlineItalic.eot');
    src: local('☞Fenomen Sans XCN Hairline Italic'), local('FenomenSans-XCNHairlineItalic'),
        url('FenomenSans-XCNHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNHairlineItalic.woff2') format('woff2'),
        url('FenomenSans-XCNHairlineItalic.woff') format('woff'),
        url('FenomenSans-XCNHairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-LightItalic.eot');
    src: local('☞Fenomen Sans Light Italic'), local('FenomenSans-LightItalic'),
        url('FenomenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-LightItalic.woff2') format('woff2'),
        url('FenomenSans-LightItalic.woff') format('woff'),
        url('FenomenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-SCNLight';
    src: url('FenomenSans-SCNLight.eot');
    src: local('☞Fenomen Sans SCN Light'), local('FenomenSans-SCNLight'),
        url('FenomenSans-SCNLight.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-SCNLight.woff2') format('woff2'),
        url('FenomenSans-SCNLight.woff') format('woff'),
        url('FenomenSans-SCNLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FenomenSans';
    src: url('FenomenSans-ThinItalic.eot');
    src: local('☞Fenomen Sans Thin Italic'), local('FenomenSans-ThinItalic'),
        url('FenomenSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-ThinItalic.woff2') format('woff2'),
        url('FenomenSans-ThinItalic.woff') format('woff'),
        url('FenomenSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-XCNBlackItalic';
    src: url('FenomenSans-XCNBlackItalic.eot');
    src: local('☞Fenomen Sans XCN Black Italic'), local('FenomenSans-XCNBlackItalic'),
        url('FenomenSans-XCNBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-XCNBlackItalic.woff2') format('woff2'),
        url('FenomenSans-XCNBlackItalic.woff') format('woff'),
        url('FenomenSans-XCNBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FenomenSans-CNLight';
    src: url('FenomenSans-CNLight.eot');
    src: local('☞Fenomen Sans CN Light'), local('FenomenSans-CNLight'),
        url('FenomenSans-CNLight.eot?#iefix') format('embedded-opentype'),
        url('FenomenSans-CNLight.woff2') format('woff2'),
        url('FenomenSans-CNLight.woff') format('woff'),
        url('FenomenSans-CNLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

